{% extends "earthquakes/base.html" %}

{% block content %}

{% block page_header %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">INFO o stronie </h1>
</div>
 <h5 class="display-3"> Strona powstała z inicjatywy Dawida Iciaka </h5>

 <ul class="list-group">
    <li class="list-group-item list-group-item-primary"> Strona będzie dalej rozwijana w postaci dodawania nowych wykresów </li>
    <li class="list-group-item list-group-item-primary"> Strona jest stworzona całkowicie amatorsko </li>
    <li class="list-group-item list-group-item-primary"> Styl strony jest przejrzysty i elegancki </li>
  </ul>

{% endblock page_header %}

{% endblock content %}